{% extends "layout.html" %}
{% block title %}List of characters{% endblock %}
{% block content %}

{% if filter == "none" %}
<b>List of characters:</b><br>
{% else %}
{% if filter == "month" %}
<p>List of characters born in {{ name }}:</p>
{% else %}
<p>List of characters of {{ filter }} {{ name }}:</p>
{% endif %}
{% endif %}

{% for charactername in characters %}
<a href="/character/{{ charactername[1] }}">{{ charactername[0] }}</a><br>
{% endfor %}
<br><br>
{% if filter == "none" %}
{% else %}
<a href="/characterlist">Show all</a>
<br><br>
{% endif %}

<b>Filter by personality:</b><br>
{% for personalityname in personalitylist %}
<a href="/characterlist/personality/{{ personalityname[1] }}">{{ personalityname[0] }}</a><br>
{% endfor %}
<br>
<b>Filter by species:</b><br>
{% for speciesname in specieslist %}
<a href="/characterlist/species/{{ speciesname[1] }}">{{ speciesname[0] }}</a><br>
{% endfor %}
<br>
<b>Filter by month of birth:</b><br>
<a href="/characterlist/month/1">January</a><br>
<a href="/characterlist/month/2">February</a><br>
<a href="/characterlist/month/3">March</a><br>
<a href="/characterlist/month/4">April</a><br>
<a href="/characterlist/month/5">May</a><br>
<a href="/characterlist/month/6">June</a><br>
<a href="/characterlist/month/7">July</a><br>
<a href="/characterlist/month/8">August</a><br>
<a href="/characterlist/month/9">September</a><br>
<a href="/characterlist/month/10">October</a><br>
<a href="/characterlist/month/11">November</a><br>
<a href="/characterlist/month/12">December</a><br>

{% endblock %}
