{% extends "layout.html" %}
{% block title %}Manage islands{% endblock %}
{% block content %}

{% if session.username %}
<p>Manage your islands, {{ session.username }}!</p>
<br>
Your islands:
<br>
{% for islandname in islands %}
<a href="/island/{{ islandname[1] }}">{{ islandname[0] }}</a><br>
{% endfor %}
<br>
<form action="/addisland" method="POST">
<p> Name a new island: <br> <input type="text" name="islandname"></p>
<input type="submit" value="Create">
</form>


{% else %}
You need to log in in order to create an island!<br>
Go to the front page to log in!
{% endif %}

{% endblock %}
