{% extends "layout.html" %}
{% block title %}Edit character {{ character }}{% endblock %}
{% block content %}

<p> Edit character. Note: You can only change one attribute (name, personality, species, default outfit, birthday) at once.</p>
Current name: <b>{{ character }}</b><br><br>
<form action="/editcharactername" method="POST">
<input type="hidden" name="id" value="{{  characterid  }}">
New name:<br>
<input type="text" name="new">
<input type="submit" value="Rename">
</form>
<br>
Current species: <b>{{ species }}</b><br><br>
<form action="/changecharacterspecies" method="POST">
<input type="hidden" name="id" value="{{  characterid  }}">
Select new species:<br>

{% for speciesname in specieslist %}
<input type="radio" name="new" value="{{  speciesname[0]  }}"> {{ speciesname[0] }}<br>
{% endfor %}

<input type="submit" value="Change">
</form>
<br>
Current personality: <b>{{ personality }}</b><br><br>
<form action="/changecharacterpersonality" method="POST">
<input type="hidden" name="id" value="{{  characterid  }}">
Select new personality:<br>

{% for personalityname in personalitylist %}
<input type="radio" name="new" value="{{  personalityname[0]  }}"> {{ personalityname[0] }}<br>
{% endfor %}

<input type="submit" value="Change">
</form>
<br>
Current default outfit: <b>{{ outfit }}</b><br><br>
<form action="/changecharacteroutfit" method="POST">
<input type="hidden" name="id" value="{{  characterid  }}">
Select new outfit:<br>

{% for outfitname in outfitlist %}
<input type="radio" name="new" value="{{  outfitname[0]  }}"> {{ outfitname[0] }}<br>
{% endfor %}
<input type="submit" value="Change">
</form>
<br>

Current birthday: {{ birthday }}<br><br>
<form action="/changecharacterbirthday" method="POST">
<input type="hidden" name="id" value="{{  characterid  }}">
Select new birthday:
<input type="date" name="new">
<input type="submit" value="Change">
</form>

{% endblock %}
