{% extends "layout.html" %}
{% block title %}Front page{% endblock %}
{% block content %}

{% if session.username %}
<p>Welcome {{ session.username }}!</p>
<br>
<br>
<a href="/createisland">Create new island</a>
<br>
<a href="/user/{{ session.userid }}">Go to your userpage</a>


{% else %}
<center><div class="login"><form action="/login" method="POST">
<b>Login</b><br>
Username:<br>
<input type="text" name="username"><br>
Password:<br>
<input type="password" name="password"><br>
<input type="submit" value="Login">
</form></div>
<div class="login"><form action="/register" method="POST">
<b>Register</b><br>
Username:<br>
<input type="text" name="username"><br>
Password:<br>
<input type="password" name="password"><br>
Rewrite password:<br>
<input type="password" name="rewritepassword"><br>
<input type="submit" value="Register">
</form></div>
</center>
{% endif %}

<br><br>

<a href="/characterlist">View list of characters</a>

{% endblock %}
