<p>This is island {{ islandname }} by <a href="/user/{{ userid }}">{{ username }}</a>.</p>

<p>Characters on this island and their outfits:</p>
{% for characterid in characters %}
<a href="/character/{{ characterid[0] }}">{{ characterid[1] }}</a> wearing {{ characterid[2] }}<br>
{% endfor %}
<br>

{% if session.username %}
{% if session.username == username %}

<br>
<a href="/island/{{ islandid }}/addcharacter">Add a new character to your island</a>
<br>
<a href="/island/{{ islandid }}/removecharacter">Remove a character from your island</a>
<br>
<a href="/island/{{ islandid }}/changecharacteroutfit">Change a character's outfit</a>
<br>

<p>Rename your island:</p>
<form action="/renameisland" method="POST">
<input type="hidden" name="id" value="{{ islandid }}">
<p>New name:<br>
<input type="text" name="new"></p>
<input type="submit" value="Rename">
</form>
<br>

<a href="/createisland">Manage your islands</a><br>

{% else %}
{% endif %}

<a href="/logout">Logout</a><br>

{% else %}
{% endif %}

<a href="/">Back to front page</a>
