{% extends "layout.html" %}
{% block title %}{{ islandname }} - Island by {{ username }}{% endblock %}
{% block content %}

<p>This is island <b>{{ islandname }}</b> by <a href="/user/{{ userid }}">{{ username }}</a>.</p>

<p>Characters on this island and their outfits:</p>
{% for charactername in characters %}
<b><a href="/character/{{ charactername[1] }}">{{ charactername[0] }}</a></b> wearing <b>{{ charactername[2] }}</b><br>
{% endfor %}
<br>

{% if session.username %}
{% if session.username == username %}

<br>
<a href="/island/{{ islandid }}/addcharacter">Add a new character to your island</a>
<br>
<a href="/island/{{ islandid }}/removecharacter">Remove a character from your island</a>
<br>
<a href="/island/{{ islandid }}/changecharacteroutfit">Change a character's outfit</a>
<br>

<p>Rename your island:</p>
<form action="/renameisland" method="POST">
<input type="hidden" name="id" value="{{ islandid }}">
<p>New name:<br>
<input type="text" name="new"></p>
<br><input type="submit" value="Rename">
</form>
<br>

<a href="/createisland">Manage your islands</a><br>

{% else %}
{% endif %}


{% else %}
{% endif %}

{% endblock %}
