<!doctype html>
<link rel="stylesheet" href="/static/main.css">
<link rel="icon" type="image/png" href="/static/favicon.ico">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<body>
<title>{% block title %}{% endblock %} - Animal Crossing fantasy roster</title>
 <div class="header">
<center><h1>Animal Crossing, fantasy roster</h1>
</div>

<a href="/">Front page</a>
<hr>
{% block content %}{% endblock %}
<hr>
{% if session.username %}
<a href="/logout">Logout</a>
{% else %}
{% endif %}
