{% extends "layout.html" %}
{% block title %}Edit outfits{% endblock %}
{% block content %}

<form action="/editoutfit" method="POST">
<p>Rename an outfit</p>
<p>Current name:<br>

{% for outfitname in outfits %}
<input type="radio" name="old" value="{{  outfitname[0]  }}"> {{ outfitname[0] }}<br>
{% endfor %}


<p>New name:<br>
<input type="text" name="new"></p>
<input type="submit" value="Rename">
</form>
<br>
<form action="/addoutfit" method="POST">
<p>Add a new outfit:<br>
<input type="text" name="outfit"></p>
<input type="submit" value="Add">
</form>

{% endblock %}
