{% extends "layout.html" %}
{% block title %}Edit personalities{% endblock %}
{% block content %}

<form action="/editpersonality" method="POST">
<p>Rename a personality</p>
<p>Current name:<br>

{% for personalityname in personalities %}
<input type="radio" name="old" value="{{  personalityname[0]  }}"> {{ personalityname[0] }}<br>
{% endfor %}


<p>New name:<br>
<input type="text" name="new"></p>
<input type="submit" value="Rename">
</form>
<br>
<form action="/addpersonality" method="POST">
<p>Add a new personality:<br>
<input type="text" name="personality"></p>
<input type="submit" value="Add">
</form>

{% endblock %}
